
/*Global Settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Auxiliaries*/
:root {
    --primary-color: #f5cf06;
    --secondary-color: #8E4106;
}

/*Settings*/
body {
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: 'Righteous', cursive;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90vw;
    margin: auto;
}

header{
    margin-top: 70px;
}

header a {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 32px;
}

main {
    flex-grow: 3;
}

.title{
    position: relative;
    grid-column: 1/-1;
    place-self: end center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__text {
    font-size: 20vw;
    color: #fff;
}

.title__transparent {
    position: absolute;
    top: -35%;
    font-size: 27vw;
    color: #fff4;
    z-index: -1;
}

.description {
    background-color: black;
    grid-column: 1/7;
}

.action {
    background-color: pink;
    grid-column: 7/-1;
}

footer {
    background-color: plum;
    margin-bottom: 24px;
}

